.table {
  .wrappable-text {
    text-wrap: pretty;
  }

  .title-field {
    min-width: 450px;
  }

  .co-authors-field {
    min-width: 220px;
  }

  .publish-place-field {
    min-width: 400px;
  }
}
