.dashboard {
  --navbar-size: 100px;
  display: flex;

  section {
    display: flex;
    justify-content: center;
    padding: 64px;
    padding-top: 90px;
    padding-bottom: 24px;
    max-height: 950px;
    max-width: 88vw;

    @media (max-width: 1280px) {
      max-width: 81vw;
    }
  }
}
