:root {
  font-family: sans-serif;

  --background-start-color: #f1f1f1;
  --background-end-color: #fff;
}

body {
  height: 100vh;
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-color)
    )
    var(--background-start-color) !important;
}
