nav {
  background-color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px 4px;
  height: initial;

  .nav-items {
    display: flex;
    flex-flow: column;
    justify-items: center;
    gap: 48px;
  }

  .home-logo {
    align-self: center;

    img {
      cursor: pointer;
      height: 80px;
      width: 100px;
    }
  }

  .user-section {
    position: fixed;
    right: 64px;
    top: 24px;
    z-index: 1;

    img {
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
  }
}
